ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  width: 120px;
  height: 40px;
  border: 2px blue solid;
  background-color: #f1f1f1;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}.active, li:hover {
  background-color: #666;
  color: white;
}

.number-bloc__body {
  margin: 24px;
  display: flex;
}

.number-bloc__body ul {
  flex-wrap: wrap;
}

.number-bloc__body ul li {
  min-width: 120px;
  min-height: 80px;
  font-size: 65px;
  margin: 8px;
  background: cadetblue;
}
