.home-container {
  width: 500px;
  height: 300px;
  background-color: coral;
}

.user-container {
  width: 200px;
  height: 150px;
  background-color: darkgreen;
}

.special {
  background-color: darksalmon;
}

.regular-user {
  background-color: darkviolet;
}
.another-class {
  font-size: 50px;
}
